In [1]:
import numpy as np
import pandas as pd

In [2]:
fp = 'C:/Users/jay.swinney/Downloads/KDD_Cup_2009/KDD_Cup_2009/orange_small_train'

In [4]:
df = pd.read_csv(fp + '/orange_small_train.data', sep = '\t')

In [30]:
def preprocess(var, name):
    # qualitative variables
    if var.dtype == np.object:
        # this threshold will be used to decide whether or not
        # a value will be grouped into 'other'
        threshold = len(var)*0.01
        # replace NA values with 'missing'
        var = var.fillna('missing')
        # get the count of times each value appears
        counts = var.value_counts()        
        # add values to be remapped to other if their frequency
        # is less than the threshold
        remapping = {}
        for c in counts.index:
            if counts[c] < threshold:
                remapping[c] = 'other'
                
        # if some values need to be grouped into other do so
        if len(remapping) > 0:
            return var.map(lambda x: remapping[x] if x in remapping else x)
        
        return var
    
    # quantitative variables            
    else:
        missing = pd.isnull(var)
        # check to see if a large number of values are missing
        df = pd.DataFrame(pd.isnull(var),
                          columns = [name + '_missing'])
        
        
preprocess(df['Var229'], 'Var229')

{'sk2h': 'other', 'oJmt': 'other'}
0        missing
1        missing
2           am7c
3        missing
4           mj86
5           am7c
6           am7c
7        missing
8           am7c
9        missing
10          mj86
11       missing
12          mj86
13       missing
14       missing
15         other
16          am7c
17          am7c
18       missing
19       missing
20       missing
21       missing
22          mj86
23       missing
24       missing
25       missing
26       missing
27          mj86
28          am7c
29       missing
          ...
49970    missing
49971    missing
49972       mj86
49973    missing
49974    missing
49975    missing
49976       mj86
49977       mj86
49978       am7c
49979    missing
49980       am7c
49981    missing
49982    missing
49983    missing
49984    missing
49985    missing
49986       am7c
49987    missing
49988    missing
49989       am7c
49990       mj86
49991    missing
49992       mj86
49993    missing
49994    missing
49995    missing
49996       am7c
49997    missing
49998    missing
49999    missing
Name: Var229, dtype: object

In [11]:
print df.describe()

             Var1         Var2           Var3         Var4            Var5  \
count  702.000000  1241.000000    1240.000000  1579.000000     1487.000000
mean    11.487179     0.004029     425.298387     0.125396   238793.328850
std     40.709951     0.141933    4270.193518     1.275481   644125.905205
min      0.000000     0.000000       0.000000     0.000000        0.000000
25%      0.000000     0.000000       0.000000     0.000000        0.000000
50%      0.000000     0.000000       0.000000     0.000000        0.000000
75%     16.000000     0.000000       0.000000     0.000000   118742.500000
max    680.000000     5.000000  130668.000000    27.000000  6048550.000000

                Var6          Var7  Var8         Var9            Var10  \
count   44471.000000  44461.000000     0   702.000000      1487.000000
mean     1326.437116      6.809496   NaN    48.145299    392605.656355
std      2685.693668      6.326053   NaN   154.777855    928089.603543
min         0.000000      0.000000   NaN     0.000000         0.000000
25%       518.000000      0.000000   NaN     4.000000         0.000000
50%       861.000000      7.000000   NaN    20.000000         0.000000
75%      1428.000000      7.000000   NaN    46.000000    262863.000000
max    131761.000000    140.000000   NaN  2300.000000  12325590.000000

        ...            Var183       Var184  Var185      Var186     Var187  \
count   ...       1241.000000  1241.000000       0  702.000000  702.00000
mean    ...      77773.795326     8.460919     NaN    3.299145   16.54416
std     ...     201618.768217    46.973777     NaN    8.781967   60.22303
min     ...          0.000000     0.000000     NaN    0.000000    0.00000
25%     ...          0.000000     0.000000     NaN    0.000000    0.00000
50%     ...          0.000000     0.000000     NaN    0.000000    4.00000
75%     ...      48810.000000     8.000000     NaN    6.000000   14.00000
max     ...    3048400.000000  1200.000000     NaN  102.000000  910.00000

            Var188        Var189         Var190  Var209  Var230
count  1241.000000  21022.000000     333.000000       0       0
mean    167.368477    270.142137   22007.045192     NaN     NaN
std     113.980072     86.707692   29085.146490     NaN     NaN
min      -6.420000      6.000000       0.000000     NaN     NaN
25%      19.380000    204.000000    2732.670000     NaN     NaN
50%     197.640000    270.000000   12668.940000     NaN     NaN
75%     252.960000    330.000000   29396.340000     NaN     NaN
max     628.620000    642.000000  230427.000000     NaN     NaN

[8 rows x 192 columns]